.main{
    margin: auto;
    text-align: left;
    padding-top: 100px;
    background-image: url(../greenshards.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
body {
    background-image: url(../greenshards.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}