@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.main{
    height: 600px;
    margin: auto;
    text-align: left;
    padding-top: 100px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://source.unsplash.com/random/1920x1080/?animals,pets);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://source.unsplash.com/random/1920x1080/?animals,pets);
    background-size: auto;
    background-repeat: no-repeat;
    height: 600px;
    background-attachment: fixed;
}
.main h1{
    font-size: 35px;
    color: #FFF;
    text-align: center;
    animation: fadeIn 2s;
}
.time {
    font-size: 60px;
    color: #FFF;
    text-align: center;
    animation: fadeIn 2s;
    margin-top: 20px;
    margin-bottom: 5px;
}
  
.date {
    font-size: 1.10em;
    color: #FFF;
    text-align: center;
    padding-bottom: 2px;
    animation: fadeIn 2s;
}
.footer {
    width: auto;
    padding: 15px 15%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}
.footer a{
    color: red;
}
.footer div{
    text-align: center;
}  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.searchbar button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgb(70, 166, 255);
    cursor: pointer;
    transition: transform .2s;
}
.main .quote{
    color: rgba(255,255,255);
    font-size: 20px;
    text-align: center;
    animation: fadeIn 2s;
    margin-top: 170px;
}
#youtubeicon, #githubicon, #spotifyicon, #twittericon, #discordicon{
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 20px 15px;
    animation: fadeIn 2s;
    transition: transform .2s;
    text-align: center;
}
#youtubeicon:hover, #githubicon:hover, #spotifyicon:hover, #twittericon:hover, #discordicon:hover{
    color:rgb(255, 0, 0);
    transform: scale(1.5);
}
.quicklinks{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-height: 300px){
    .main{
        height: 50px;
    }
}
@keyframes slide-bottom {
    0% {
      transform: translateY(-700px);
    }
    100% {
      transform: translateY(1px);
    }
  }