@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.main{
    width: 100%;
    height: 600px;
    margin: auto;
    text-align: left;
    padding-top: 100px;
    background-image: url(redshards.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
body {
    background-image: url(redshards.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.main h1{
    font-size: 35px;
    color: #FFF;
    text-align: center;
    animation: fadeIn 2s;
}
.time {
    font-size: 60px;
    color: #FFF;
    text-align: center;
    animation: fadeIn 2s;
    margin-top: 20px;
    margin-bottom: 5px;
}
  
.date {
    font-size: 1.10em;
    color: #FFF;
    text-align: center;
    padding-bottom: 2px;
    animation: fadeIn 2s;
}
.footer {
    width: auto;
    padding: 15px 15%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}
.footer a{
    color: red;
}
.footer div{
    text-align: center;
}  
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.searchbar{
    width: 100%;
    max-width: 700px;
    background: rgba(145, 145, 145, 0.536);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1px 20px;
    margin-top: 40px;
    color: #FFF;
    animation: fadeIn 2s;
}
.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #FFF;
}
::placeholder{
    color: rgba(255, 255, 255, 0.545);
}
.searchbar button i{
    width: 25px;
    color: rgb(255, 255, 255);
}
.searchbar button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: rgb(255, 0, 0);
    cursor: pointer;
    transition: transform .2s;
}
.searchbar button:hover{
    transform: scale(1.5);
    box-shadow: 0 5px 15px rgb(255, 0, 0);
}
.main .quote{
    color: rgba(255,255,255);
    font-size: 20px;
    text-align: center;
    animation: fadeIn 2s;
    margin-top: 170px;
}
.fa-brands{
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 20px 15px;
    animation: fadeIn 2s;
    transition: transform .2s;
    text-align: center;
}
.fa-brands:hover{
    color:rgb(255, 0, 0);
    text-shadow: 0 5px 15px rgb(255, 0, 0);
    transform: scale(1.5);
}
.quicklinks{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-height: 700px){
    .main{
        height: 600px;
    }
}
@keyframes slide-bottom {
    0% {
      transform: translateY(-700px);
    }
    100% {
      transform: translateY(1px);
    }
  }